<div class="account-list-container"> 
    <div *ngFor="let account of accounts" class="account-item">
      <div class="account-name">{{ account.name }}</div>
      <div class="account-balance">
      <div class="account-balance-currency-">{{ account.balance | currency:account.currency }}</div>
      <div class="account-balance-default" *ngIf="account.balance !== account.balanceInDefaultCurrency" >{{ account.balanceInDefaultCurrency| currency:defaultCurrency }} </div>
    </div>
    </div>
    <button mat-raised-button color="primary" (click)="openCreateAccountDialog()">Create New Account</button>
</div>

  <app-footer></app-footer>

