.account-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 81%;
    margin: 0 auto;
  }
  
  .account-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%; 
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .account-balance-default {
    color: #01000095;
  }


  
  .account-name {
    flex: 1;
    text-align: left;
  }
  
  .account-balance {
    flex: 1;
    text-align: right;
  }
