<div class="content">
<div class="settings-list-container">
    <div class="settings-item">
      <div class="left">
        Set default currency:
        </div>
        <div class="right">
        <mat-form-field appearance="fill">
            <mat-select [value]="defaultCurrency" (selectionChange)="updateDefaultCurrency($event)">
              <mat-option  value="EUR">EUR</mat-option>
              <mat-option  value="BTC">BTC</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
    </div>
    
      <div class="settings-item">
        <div class="left">
        <a  href="#" (click)="deleteAllData($event)">Delete all data</a>
    </div>
      </div>

      <div class="settings-item">
        <div class="left">Exchange rate updated</div>
        <div class="righ">{{lastUpdatedDate}}</div>
      </div>
    </div>

<div class="footer">
    Copyright "The Client" 2024
</div>