<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-label>First Name:</mat-label>
      <input matInput  type="text" id="firstName" formControlName="firstName" >
      <div *ngIf="registrationForm.get('firstName') && registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched" class="error">
        <div *ngIf="registrationForm.get('firstName')?.errors && registrationForm.get('firstName')?.errors?.['required']">First Name is required.</div>
      </div>
    </div>
    <div>
      <mat-label>Last Name:</mat-label>
      <input matInput type="text" id="lastName" formControlName="lastName" >
      <div *ngIf="registrationForm.get('lastName') && registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched" class="error">
        <div *ngIf="registrationForm.get('lastName')?.errors && registrationForm.get?.('lastName')?.errors?.['required']">Last Name is required.</div>
      </div>
    </div>
    <div>
      <mat-label>Email:</mat-label>
      <input matInput type="email" id="email" formControlName="email" placeholder="example@gmail.com" >
  
      <div *ngIf="registrationForm.get('email') && registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched" class="error">
        <div *ngIf="registrationForm.get('email')?.errors">
          <div *ngIf="registrationForm.get('email')?.errors?.['required']">Email is required.</div>
          <div *ngIf="registrationForm.get('email')?.errors?.['email']">Please enter a valid email address.</div>
        </div>
      </div>
    </div>
    <div>
      <mat-label>Password:</mat-label>
      <input matInput  type="password" id="password" formControlName="password">
      <div *ngIf="registrationForm.get('password') && registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched" class="error">
        <div *ngIf="registrationForm.get('password')?.errors">
          <div *ngIf="registrationForm.get('password')?.errors?.['required']">Password is required.</div>
          <div *ngIf="registrationForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.</div>
          
        </div>
      </div>
    </div>
    <div>
      <mat-label>Confirm Password:</mat-label>
      <input matInput type="password" id="confirmPassword" formControlName="confirmPassword">
      <div *ngIf="registrationForm.get('confirmPassword')?.invalid && registrationForm.get('confirmPassword')?.touched" class="error">
        <div *ngIf="registrationForm.get('confirmPassword')?.errors">
          <div *ngIf="registrationForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required.</div>
          
        </div>
        
      </div>
      <div *ngIf="registrationForm.errors && registrationForm?.errors?.['mismatch'] && registrationForm?.get('confirmPassword')?.touched" class="error">
        Passwords do not match.   
       </div>
    </div>
    <button  type="submit"  [disabled]="registrationForm.invalid" >Register</button>
  </form>
  
  <div *ngIf="failedRegisterMsg" class="error center">
    {{ failedRegisterMsg }}
  </div>
  
  
  
