<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput id="description" formControlName="description" type="text">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select id="type" formControlName="type">
          <mat-option value="expense">Expense</mat-option>
          <mat-option value="income">Income</mat-option>
        </mat-select>
  </mat-form-field>
  <mat-error>
    <div *ngIf="transactionForm?.errors && transactionForm?.errors?.['amountError']">
      Incomes must be 0 or more and expenses less than 0
      
      </div>
    </mat-error>
  </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Account</mat-label>
        <mat-select id="account" formControlName="account">
          <mat-option *ngFor="let account of userAccounts" [value]="account.id">{{ account.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput id="amount" formControlName="amount" type="number">
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" type="submit">Add</button>
  </mat-dialog-actions>
</form>