<div class="page-container">
<div class="transaction-container">

<div class="left">
<div class="transaction-list-container">
    <div *ngFor="let transaction of transactions" class="transaction-item">
      <div class="list-left">
      <div class="transaction-description">{{ transaction.description }}</div>
      <div class="transaction-account">{{ transaction.accountName }}</div>
    </div>
      <div class="transaction-amount">
      <div class="transaction-amount-currency">{{ transaction.amount }} {{transaction.currency}}</div>
      <div class="transaction-amount-default" *ngIf="transaction.amount !== transaction.amountInDefaultCurrrency"> {{ transaction.amountInDefaultCurrrency| currency:defaultCurrency }} </div>
    </div>
    </div>
</div>
</div>
<div class="right">
    <div class="account-list">
      <mat-form-field appearance="fill">
        <mat-label>Select Account</mat-label>
        <mat-select value="All accounts" (selectionChange)="onAccountChange($event)">
          <mat-option value="all">All accounts</mat-option>
          <mat-option *ngFor="let account of accounts" [value]="account.id">{{ account.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  </div>
  <app-footer></app-footer>






