html, body {
  height: 100%;
  margin: 0;
  font-size: 16px; 
}

.page-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px; 
}


.transaction-container {
  display: flex;
  flex-direction: column; 
  width: 52%;
  margin: 1em auto;
  padding: 10px;
}

@media (min-width: 768px) {
  .transaction-container {
    flex-direction: row; /* Display side by side on larger screens */
    justify-content: space-between;
  }

  .left {
    flex: 3;
    margin-right: 2em;
  }

  .right {
    flex: 1;
  }
}

.mat-form-field {
  width: 80%;
  max-width: 150px;
  font-size: 0.9em;
}

@media (max-width: 600px) {
  .mat-form-field {
    max-width: 80%;
  }
}


.transaction-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

@media (min-width: 768px) {
  .transaction-item {
    flex-direction: row; /* Align items horizontally on larger screens */
    justify-content: space-between;
  }
}

.account-list {
  margin-top: .9em;
}

.transaction-amount-default {
  color: #01000095;
}
